output/
data/
biblio/


.Rproj.user
.Rhistory
*.html
*~
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.zip
*.xls
*.xlsx
#*#
_*
.#*
*.odt
*.odp
*.rdb
*.rdx
*.docx
*.csv
*.qgz


scripts\0X.*
